In [1]:
import numpy as np
import pandas as pd

# 1. 读取数据
job_info = pd.read_csv("../data/job_info.csv", encoding="gbk")
job_info.head()

                       字节跳动  数据产品经理      北京  2-3.5万/月  09-03
0           甲骨文（中国）软件系统有限公司  数据产品经理      长沙       NaN  09-03
1  莱茵技术(上海)有限公司 TUV Rhei...  数据产品经理  上海-静安区       NaN  09-03
2       百度在线网络技术（北京）有限公司...  数据产品经理      北京    2-4万/月  09-03
3                  携程旅行网业务区  数据产品经理  上海-长宁区  1.5-2万/月  09-03
4       嘉吉投资（中国）有限公司南京分公...  数据产品经理      南京       NaN  09-03

In [2]:
# 2. 列名重命名
job_info.rename(columns={"字节跳动": "公司", 
                         "数据产品经理": "岗位", 
                         "北京": "工作地点", 
                         "2-3.5万/月": "工资", 
                         "09-03": "发布日期"}, inplace=True)
job_info.columns

Index(['公司', '岗位', '工作地点', '工资', '发布日期'], dtype='object')

In [3]:
# 3. 哪个岗位招聘需求最多
print(job_info['岗位'].describe()) # 也可以通过describe()查看哪个岗位是最多的
print(job_info['岗位'].value_counts()) # 通过value_counts()查看岗位各元素的统计个数
job_info['岗位'].value_counts().index[0] # 提取最多的岗位

count      5499
unique        4
top       数据分析师
freq       4000
Name: 岗位, dtype: object
数据分析师      4000
数据产品经理      999
仓库数据分析员     400
数据库管理员      100
Name: 岗位, dtype: int64

'数据分析师'

In [4]:
# 4. 取出9月3日发布的招聘信息
print(job_info['发布日期'].value_counts()) # 先查看有哪些日期的数据,并统计看各日期的数据各有多少
print(job_info.loc[job_info['发布日期']=='09-03', :]) # 提取出9月三日的数据
job_info.loc[job_info['发布日期']=='09-03', :].shape # 可以看出数据共5314条，与提取前一致，故提取成功

09-03    5314
09-04     179
09-02       2
08-29       1
08-30       1
08-20       1
08-12       1
Name: 发布日期, dtype: int64
                            公司       岗位    工作地点          工资   发布日期
0              甲骨文（中国）软件系统有限公司   数据产品经理      长沙         NaN  09-03
1     莱茵技术(上海)有限公司 TUV Rhei...   数据产品经理  上海-静安区         NaN  09-03
2          百度在线网络技术（北京）有限公司...   数据产品经理      北京      2-4万/月  09-03
3                     携程旅行网业务区   数据产品经理  上海-长宁区    1.5-2万/月  09-03
4          嘉吉投资（中国）有限公司南京分公...   数据产品经理      南京         NaN  09-03
...                        ...      ...     ...         ...    ...
5347            无锡明恒混合动力技术有限公司  仓库数据分析员  无锡-惠山区  0.9-1.6万/月  09-03
5348              四川良柏财税咨询有限公司  仓库数据分析员  成都-青羊区    4.5-6千/月  09-03
5349       陕西斯达防爆安全科技股份有限公司...  仓库数据分析员      西安  0.8-1.5万/月  09-03
5350                珠海文景科技有限公司  仓库数据分析员    异地招聘    1-1.5万/月  09-03
5351              广州友财信息科技有限公司  仓库数据分析员  广州-天河区  1.3-2.5万/月  09-03

[5314 rows x 5 columns]

(5314, 5)

In [5]:
# 5. 找出工作地点在深圳的数据分析师招聘信息
gzdd = job_info.loc[job_info["工作地点"]=="深圳", :] # 先提取出深圳的数据
print(gzdd)
gzdd.loc[gzdd["岗位"]=="数据分析师", :] # 在提取出数据分析师的招聘信息

                        公司       岗位 工作地点        工资   发布日期
11          深圳市腾讯计算机系统有限公司   数据产品经理   深圳       NaN  09-03
19            金蝶软件（中国）有限公司   数据产品经理   深圳    1-2万/月  09-03
42              中海物业管理有限公司   数据产品经理   深圳       NaN  09-03
69     深圳迈瑞生物医疗电子股份有限公司...   数据产品经理   深圳  15-20万/年  09-03
198   乔达国际供应链管理(深圳)有限公司...   数据产品经理   深圳  4.5-5千/月  09-03
...                    ...      ...  ...       ...    ...
5258          深圳市小税官科技有限公司  仓库数据分析员   深圳  0.6-1万/月  09-03
5313   深圳市柏星龙创意包装股份有限公司...  仓库数据分析员   深圳  1-1.5万/月  09-03
5340         深圳市卓宝科技股份有限公司  仓库数据分析员   深圳  1-1.5万/月  09-03
5421         迈柯博科技（上海）有限公司  仓库数据分析员   深圳  1-1.5万/月  09-04
5494          深圳市创荣发电子有限公司  仓库数据分析员   深圳  2-2.5万/月  09-04

[91 rows x 5 columns]

                       公司     岗位 工作地点          工资   发布日期
1015  瑞庭网络技术（上海）有限公司深圳...  数据分析师   深圳      7-9千/月  09-03
1069         广州奕晟网络科技有限公司  数据分析师   深圳      6-8千/月  09-03
1106             鹏元征信有限公司  数据分析师   深圳  0.7-1.2万/月  09-03
1195           深圳诺德安达双语学校  数据分析师   深圳    1-1.5万/月  09-03
1202      丽晶维珍妮内衣（深圳）有限公司  数据分析师   深圳      5-8千/月  09-03
...                   ...    ...  ...         ...    ...
4721                雅特生科技  数据分析师   深圳      6-8千/月  09-03
4774        深圳市加力邦德咨询有限公司  数据分析师   深圳    1.5-2万/月  09-03
4796        深圳市欧烨信息技术有限公司  数据分析师   深圳    4.5-6千/月  09-03
4867         太平船务（中国）有限公司  数据分析师   深圳    4.5-5千/月  09-03
4882  深汕特别合作区智慧城市研究院有限...  数据分析师   深圳   80-100万/年  09-03

[66 rows x 5 columns]

In [6]:
# 6. 取出每条招聘信息中的最低工资与最高工资，单位为“元/月”
#    若招聘信息中无工资数据则无需处理
#    通过检查数据发现工资的单位，并不是固定的，有好几种格式
#    千/月  万/月  万/年  这三个算是比较正常的
#    元/天  元/小时  1.5千以下/月  这三个是不正常的只有一个工资数据，故最低最高工资设为一样
job_info["最低工资"] = np.nan # 先添加这两列
job_info["最高工资"] = np.nan

for i in range(job_info.shape[0]):
    if pd.isna(job_info.loc[i, "工资"]) == True:
        continue
    try:
        if "以下" in job_info.loc[i, "工资"]: # 经检查只有1.5千以下/月这一种特殊情况，这里最低最高也都设为一样
            min = max = job_info.loc[i, "工资"][:-5]
            money_unit, time_unit = job_info.loc[i, "工资"][-5], job_info.loc[i, "工资"][-1]
        elif "小时" in job_info.loc[i, "工资"]: # 元/小时的情况
            min = max = job_info.loc[i, "工资"][:-4]
            money_unit, time_unit = job_info.loc[i, "工资"][-4:].split('/') # 提取出工资单位和时间单位
        else:
            money_list = job_info.loc[i, "工资"][:-3].split('-')
            if len(money_list) == 2: # 提取出最低工资和最高工资
                min, max =  money_list[0], money_list[1]
            else:
                min = max = money_list[0] # 元/天的情况
            money_unit, time_unit = job_info.loc[i, "工资"][-3:].split('/') # 提取出工资单位和时间单位
    except Exception as e:
        print(e)
        print(job_info.loc[i, "工资"], i)
    if time_unit == "小时": # 每天算工作 12 个小时
        job_info.loc[i, "最低工资"] = str(int(float(min) * 12 * 30)) + "元/月"
        job_info.loc[i, "最高工资"] = str(int(float(max) * 12 * 30)) + "元/月"
    elif time_unit == "天": # 每个月都按30天算
        job_info.loc[i, "最低工资"] = str(int(float(min) * 30)) + "元/月"
        job_info.loc[i, "最高工资"] = str(int(float(max) * 30)) + "元/月"
    elif time_unit == "月":
        if money_unit == "千":
            job_info.loc[i, "最低工资"] = str(int(float(min) * 1000)) + "元/月"
            job_info.loc[i, "最高工资"] = str(int(float(max) * 1000)) + "元/月"
        elif money_unit == "万":
            job_info.loc[i, "最低工资"] = str(int(float(min) * 10000)) + "元/月"
            job_info.loc[i, "最高工资"] = str(int(float(max) * 10000)) + "元/月"
        else:
            print(money_unit) # 如果存在其他工资单位，先打印出来
    elif time_unit == "年":
        if money_unit == "万":
            job_info.loc[i, "最低工资"] = str(int(float(min) * 10000 / 12)) + "元/月"
            job_info.loc[i, "最高工资"] = str(int(float(max) * 10000 / 12)) + "元/月"
        else:
            print(money_unit) # 如果存在其他工资单位，先打印出来
    else:
        print(time_unit, i) # 如果存在其他时间单位，先打印出来
job_info
# 这里存在一些问题
# ① 可以用正则表达式来提取元素
# ② 代码执行速度过慢
# ③ 代码过于冗余，复用性太差，也不美观
# 这些问题是之后要注意的，虽然花点时间能做到，但是今天太忙了，之后抽时间再考虑一下 2020/7/8 11:23

,公司,岗位,工作地点,工资,发布日期,最低工资,最高工资
0,甲骨文（中国）软件系统有限公司,数据产品经理,长沙,NaN,09-03,NaN,NaN
1,莱茵技术(上海)有限公司 TUV Rhei...,数据产品经理,上海-静安区,NaN,09-03,NaN,NaN
2,百度在线网络技术（北京）有限公司...,数据产品经理,北京,2-4万/月,09-03,20000元/月,40000元/月
3,携程旅行网业务区,数据产品经理,上海-长宁区,1.5-2万/月,09-03,15000元/月,20000元/月
4,嘉吉投资（中国）有限公司南京分公...,数据产品经理,南京,NaN,09-03,NaN,NaN
...,...,...,...,...,...,...,...
5494,深圳市创荣发电子有限公司,仓库数据分析员,深圳,2-2.5万/月,09-04,20000元/月,25000元/月
5495,深圳市宝华诚投资管理有限公司,仓库数据分析员,深圳-龙华新区,6-8千/月,09-04,6000元/月,8000元/月
5496,广州市卡思投资有限公司,仓库数据分析员,深圳-福田区,0.8-1万/月,09-04,8000元/月,10000元/月
5497,深圳市迪比科电子科技有限公司,仓库数据分析员,深圳-龙华新区,1.5-2.5万/月,09-04,15000元/月,25000元/月
5498,武汉锦瑞技术有限公司,仓库数据分析员,武汉-蔡甸区,3-4.5千/月,09-04,3000元/月,4500元/月

In [7]:
min, max = job_info.loc[3566, "工资"][:-3].split('-')
print(min, max)

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
job_info.loc[943, "工资"]

job_info.head()

In [ ]:
"123" + 4

In [ ]:
"123".join([4])

In [ ]:
"-".join(["123", "4", '567'])