In [7]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:rootroot@127.0.0.1:3306/test?charset=utf8")

In [8]:
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/test?charset=utf8)

In [11]:
pd.read_sql_table("meal_order_detail1", con=engine)

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NA,NA,蒜蓉生蚝,0,1.0,49.0,NA,2016-08-01 11:05:00,NA,NA,NA,0,NA,NA,caipu/104001.jpg,1442
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,6750,774,610011,NA,NA,白饭/大碗,0,1.0,10.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/601005.jpg,1138
2775,6742,774,609996,NA,NA,牛尾汤,0,1.0,40.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/201006.jpg,1138
2776,6756,774,609949,NA,NA,意文柠檬汁,0,1.0,13.0,NA,2016-08-10 22:01:00,NA,NA,NA,0,NA,NA,caipu/404005.jpg,1138
2777,6763,774,610014,NA,NA,金玉良缘,0,1.0,30.0,NA,2016-08-10 22:03:00,NA,NA,NA,0,NA,NA,caipu/302003.jpg,1138
2778,6764,774,610017,NA,NA,酸辣藕丁,0,1.0,33.0,NA,2016-08-10 22:04:00,NA,NA,NA,0,NA,NA,caipu/302006.jpg,1138

In [12]:
pd.read_sql_query("select * from meal_order_detail1", con=engine)

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NA,NA,蒜蓉生蚝,0,1.0,49.0,NA,2016-08-01 11:05:00,NA,NA,NA,0,NA,NA,caipu/104001.jpg,1442
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,6750,774,610011,NA,NA,白饭/大碗,0,1.0,10.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/601005.jpg,1138
2775,6742,774,609996,NA,NA,牛尾汤,0,1.0,40.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/201006.jpg,1138
2776,6756,774,609949,NA,NA,意文柠檬汁,0,1.0,13.0,NA,2016-08-10 22:01:00,NA,NA,NA,0,NA,NA,caipu/404005.jpg,1138
2777,6763,774,610014,NA,NA,金玉良缘,0,1.0,30.0,NA,2016-08-10 22:03:00,NA,NA,NA,0,NA,NA,caipu/302003.jpg,1138
2778,6764,774,610017,NA,NA,酸辣藕丁,0,1.0,33.0,NA,2016-08-10 22:04:00,NA,NA,NA,0,NA,NA,caipu/302006.jpg,1138

In [13]:
pd.read_sql("meal_order_detail1", con=engine)

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NA,NA,蒜蓉生蚝,0,1.0,49.0,NA,2016-08-01 11:05:00,NA,NA,NA,0,NA,NA,caipu/104001.jpg,1442
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,6750,774,610011,NA,NA,白饭/大碗,0,1.0,10.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/601005.jpg,1138
2775,6742,774,609996,NA,NA,牛尾汤,0,1.0,40.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/201006.jpg,1138
2776,6756,774,609949,NA,NA,意文柠檬汁,0,1.0,13.0,NA,2016-08-10 22:01:00,NA,NA,NA,0,NA,NA,caipu/404005.jpg,1138
2777,6763,774,610014,NA,NA,金玉良缘,0,1.0,30.0,NA,2016-08-10 22:03:00,NA,NA,NA,0,NA,NA,caipu/302003.jpg,1138
2778,6764,774,610017,NA,NA,酸辣藕丁,0,1.0,33.0,NA,2016-08-10 22:04:00,NA,NA,NA,0,NA,NA,caipu/302006.jpg,1138

In [14]:
pd.read_sql("select * from meal_order_detail1", con=engine)

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NA,NA,蒜蓉生蚝,0,1.0,49.0,NA,2016-08-01 11:05:00,NA,NA,NA,0,NA,NA,caipu/104001.jpg,1442
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,6750,774,610011,NA,NA,白饭/大碗,0,1.0,10.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/601005.jpg,1138
2775,6742,774,609996,NA,NA,牛尾汤,0,1.0,40.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/201006.jpg,1138
2776,6756,774,609949,NA,NA,意文柠檬汁,0,1.0,13.0,NA,2016-08-10 22:01:00,NA,NA,NA,0,NA,NA,caipu/404005.jpg,1138
2777,6763,774,610014,NA,NA,金玉良缘,0,1.0,30.0,NA,2016-08-10 22:03:00,NA,NA,NA,0,NA,NA,caipu/302003.jpg,1138
2778,6764,774,610017,NA,NA,酸辣藕丁,0,1.0,33.0,NA,2016-08-10 22:04:00,NA,NA,NA,0,NA,NA,caipu/302006.jpg,1138

In [15]:
data = pd.read_sql("select * from meal_order_detail1", con=engine)
data.to_sql("tmp", con=engine, if_exists="replace")

In [16]:
pd.read_table("../data/meal_order_")

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'